.todo{
	position: relative;
	overflow: hidden;
	background-color: #000;
	padding: 5px 10px;
	margin: 10px 0;
	border-radius: 7px;
	font-size: 20px;
	color: #f2f2f2;
	display: flex;
	justify-content: space-between;
}

.wrap {
	position: relative;
}

.buttons {
	display: flex;
	align-items: center;


	.button {
		background-color: rgba(204, 204, 204, 0.3);
		border-radius: 5px;
		font-size: 20px;
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: 3px;
		margin-left: 10px;
		svg {
			color: #9b9a9a;

			&:hover {
				color: #fff;
			}
		}
	}
}

.edit {
	position: absolute;
	background-color: #725d5d;
	padding: 5px 10px;
	margin: 10px 0;
	border-radius: 7px;
	font-size: 20px;
	color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: -10px;
	right: 0px;
	transition: all 0.5s;
	button {
		margin-right: 10px;
		width: 100px;
		cursor: pointer;
		font-size: 20px;
		color: #696262;
		border-radius: 7px;
		&:hover {
			color: #fff;
		}
	}
}

.show {
	right: 0;
}

@media (max-width: 500px) {
	.edit {
		font-size: 16px;
		padding: 8px 3px;
		button {
			font-size: 16px;
			width: 50px;

		}
	}
}

@media (max-width: 355px) {
	.edit {
		font-size: 14px;
		padding: 10px 3px;
		button {
			font-size: 14px;
			width: 40px;

		}
	}
}


