* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #474747;
	color: #fff;
}

input {
	width: 100%;
	font-size: 20px;
	outline: none;
	border: none;
	&:focus {
		background-color: #fff;
	}
}
p {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	cursor: pointer;
	&:disabled {
		cursor: not-allowed;
		color: #ccc;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
	text-decoration: none;
}

.container	{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

.success {
	background-color: #8ce76d;
}

.warn {
	background-color: #ee300c;
}

.modal {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgb(178 178 178 / 91%);
	z-index: 1000;
}

.wrap {
	max-width: 600px;
	width: 100%;
	background-color: #424040;
	border-radius: 7px;
	padding: 20px;

	h2 {
		text-align: center;
		margin-bottom: 30px;
	}

	button {
		margin-right: 10px;
		width: 100px;
		cursor: pointer;
		font-size: 20px;
		color: #696262;
		border-radius: 7px;
		margin-bottom: 20px;
		&:hover {
			color: #000000;
		}
	}
	.form {

		input, textarea {
			width: 100%;
			border-radius: 5px;
			padding: 5px 10px;
			margin-bottom: 20px;
		}

		textarea {
			height: 200px;
			font-size: 16px;
			resize: none;
		}

		.cancelBtn {
			background-color: #f3eaea;
		}

		.editBtn {
			background-color: #57f159;
		}
	}

	.confirm {
		text-align: center;
	}
}

.error {
	color: red;
}


